#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(max-content);
    gap: 1rem;

}

.red {
    color: #B8255F;
  }
  
  .red:hover {
    color: #B8255F;
  }