/*static font instances*/

/*
@font-face {
    font-family: 'Quiosco';
    font-weight: 400;
    font-style: normal;
    src: url(fonts/quiosco/Quiosco-Regular.woff2) format("woff2"),url(fonts/quiosco/Quiosco-Regular.woff) format("woff"),url(fonts/quiosco/Quiosco-Regular.eot?#iefix) format("embedded-opentype")
}

@font-face {
    font-family: 'Quiosco';
    font-weight: 400;
    font-style: italic;
    src: url(fonts/quiosco/Quiosco-Italic.woff2) format("woff2"),url(fonts/quiosco/Quiosco-Italic.woff) format("woff"),url(fonts/quiosco/Quiosco-Italic.eot?#iefix) format("embedded-opentype")
}*/
/*@font-face {
    font-family: 'Quiosco';
    font-weight: 700;
    font-style: normal;
    src: url(fonts/quiosco/Quiosco-Bold.woff2) format("woff2"),url(fonts/quiosco/Quiosco-Bold.woff) format("woff"),url(fonts/quiosco/Quiosco-Bold.eot?#iefix) format("embedded-opentype")
}

@font-face {
    font-family: 'Quiosco';
    font-weight: 700;
    font-style: italic;
    src: url(fonts/quiosco/Quiosco-BoldItalic.woff2) format("woff2"),url(fonts/quiosco/Quiosco-BoldItalic.woff) format("woff"),url(fonts/quiosco/Quiosco-BoldItalic.eot?#iefix) format("embedded-opentype")
}
*/

@font-face {
  font-family: 'Quiosco Display';
  font-weight: 400;
  font-style: normal;
  src: url(fonts/quiosco/QuioscoDisplay-Regular.woff2) format('woff2'),
    url(fonts/quiosco/QuioscoDisplay-Regular.woff) format('woff'),
    url(fonts/quiosco/QuioscoDisplay-Regular.eot?#iefix)
      format('embedded-opentype');
}

@font-face {
  font-family: 'Quiosco Display';
  font-weight: 400;
  font-style: italic;
  src: url(fonts/quiosco/QuioscoDisplay-Italic.woff2) format('woff2'),
    url(fonts/quiosco/QuioscoDisplay-Italic.woff) format('woff'),
    url(fonts/quiosco/QuioscoDisplay-Italic.eot?#iefix)
      format('embedded-opentype');
}

/*variable font*/

@font-face {
  font-family: 'Quiosco VF';
  font-weight: 400 700;
  src: url(fonts/quiosco-vf/QuioscoRomanVF.woff2) format('woff2-variations');
}

@font-face {
  font-family: 'Quiosco VF';
  font-weight: 400 700;
  font-style: italic;
  src: url(fonts/quiosco-vf/QuioscoItalicVF.woff2) format('woff2-variations');
}

:root {
  --GRAD: 0;
  --wght: 485;
  --pad: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  font-family: 'Inconsolata', monospace;
  font-variation-settings: 'wght' var(--wght), 'GRAD' var(--GRAD);
}

section {
  background: white;
  margin: auto;
  width: 600px;
  padding: var(--pad);
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
}

h1,
h2 {
  font-family: 'Quiosco Display';
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 10px;
}
p {
  text-indent: 3rem;
  margin-top: 6px;
  line-height: 1.5;
  hyphens: auto;
  font-feature-settings: 'onum' on;
}
h1 + p,
h2 + p,
h3 + p,
blockquote + p {
  text-indent: 0;
}
h2 {
  margin-top: var(--pad);
}
h3{
  margin-top: 20px;
}
blockquote {
  margin: 20px 0;
  letter-spacing: -0.01em;
  padding: 0 40px;
  line-height: 1.5;
  font-weight: 600;
  border-left: 3px solid #ddd;
}

ul {
  font-size: 0.85em;
  letter-spacing: 0.015em;
  padding-left: 2rem;
}

ul li {
  list-style-type: none;
  text-indent: -10px;
  margin-bottom: 1em;
}
ul li:before {
  content: '* ';
}
ul li:first-child {
  margin-top: 1em;
}

sup {
  font-size: 1em;
  letter-spacing: -1px;
  margin-right: 3px;
}
.sm {
  font-feature-settings: 'c2sc' on;
}
.fraction {
  font-feature-settings: 'frac' on;
}
/*option+command+[ for curly quotes*/

[lang='gr'] {
  font-family: 'Vollkorn', serif;
  font-size: 1.15em;
}
hr{
  margin: 10px 0;
}
